@media screen and (max-width: 576px) {

    .nav_bar,
    .menubar UL {
        flex-direction: column;
    }


    .site_name h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .menubar ul li {

        padding: 5px;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav_bar {
        flex-direction: column;
    }

    .site_name h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .menubar {
        margin: auto;
    }

}