@media screen and (max-width: 576px) {
    .header_container {
        padding: 0;
    }

    .nav_bar,
    .menubar UL,
    .section1_container,
    .section_features,
    .section04_container,
    .section06_container {
        flex-direction: column;

    }

    .site_name h2,
    .section5_title,
    .section5_para {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .menubar ul li,
    .section04_container {

        padding: 5px;
    }

    .banner_title h1,
    .banner_title p,
    .section1_title,
    .section1_para,
    .sec2_fea_title,
    .sec2-features_img img,
    .section3_container h1,
    .section3_container p,
    .facts {
        width: 100%;
    }

    .sec2_fea_blog {
        width: 80%;
    }

    .image_collab {
        width: 50%;
    }

    .section06_container img {
        width: 40%;
        margin: 0 auto 20px;
    }

    .banner_title h1 {
        margin-top: 50px;
    }

    .section1_img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .section1_description,
    .sec2_features_description,
    .sec2-features_img,
    .section_features,
    .section3_container,
    .section3_container {
        margin-top: 30px;
        padding: 20px;
    }

    .facts {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }



}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav_bar,
    .section1_container,
    .section_features,
    .section04_container,
    .menubar ul,
    .section06_container {
        flex-direction: column;
    }

    .header_container {
        padding: 20px;
    }

    .menubar ul li {
        margin-bottom: 10px;
    }

    .site_name h2,
    .section5_container {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .menubar {
        margin: 0 auto;
    }

    .banner_title h1,
    .banner_title p,
    .section3_container h1,
    .section3_container p {
        width: 100%;
    }

    .sec2_fea_blog,
    .section5_para {
        width: 90%;
    }

    .banner_title h1 {
        margin-top: 50px;
    }

    .sec2_fea_title {
        width: 50%;
    }

    .banner img {
        width: 100%;
    }

    .sec2-features_img {
        width: 80%;
        margin: 0 auto;
    }

    .section3_container,
    .section04_container {
        padding: 20px;
    }

    .sec2-features_img {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .section1_img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .section1_description,
    .sec2_features_description {
        margin-top: 30px;
        padding: 20px;
    }

    .facts {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .section06_container img {
        width: 40%;
        margin: 0 auto 20px;
    }
}