@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

.primary_btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 23px;
    margin-bottom: 70px;
    border: 0;
}



/*  header part start */

.header_container {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* start of navbar */
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar ul {
    display: flex;
    list-style: none;
}

.menubar ul li {
    padding: 0 25px 0;

}

.menubar ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.site_name h2 {
    font-size: 40px;
    color: #131313;
    font-weight: 700;
}

/* end of navbar */

/* start banner part */

.banner_title {
    text-align: center;
}

.banner_title h1 {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    color: #131313;
    font-size: 60px;
    font-weight: 700;
}

.banner_title p {
    width: 75%;
    margin: 10px auto 50px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.banner img {
    width: 100%;
}

/* end of banner part */
/* end of header part */

/* start main part */
main {
    max-width: 1440px;
    margin: 0 auto;

}

/* section-01 */

.section1_container {
    display: flex;
    align-items: center;
    margin-top: 80px;

}

.section1_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 180px;

}

.section1_img img {
    width: 300px;
    height: 300px;
}


.section1_description {
    padding-left: 70px;
    padding-right: 70px;
}

.section1_title {
    font-size: 45px;
    width: 468px;
    margin-bottom: 24px;
}

.quick_list {
    color: #727272;
    font-weight: 500;
}

.of_our {
    color: #131313;
    font-weight: 700;
}

.feature_span {
    color: #FF900E;
    font-weight: 700;
}

.section1_para {
    width: 537px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* end of section_01 */